body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.App {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.card {
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
  /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
}
.btn-secondary {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.fa-heart {
  color: red;
}

.btn-primary {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.fa-eye {
  color: navy;
}

.fa-cloud-download-alt {
  color: rgb(53, 140, 240);
}